body {
	background-color: #663366;
	margin: 0 auto;
	
}
.container {
    margin-left: 0px;
    width: 100vw;
}
#container {
    width: 100vw;
}
#game-board {
    width: 75vw;
    max-width: 714px;
    max-height: 714px;
    height: 100vh;
	background-image: url('../images/game_board2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: fixed;
    display: inline-block;
}
#info {
     width: 40vw;
    max-width: 236px;
    height: 100vh;
    left: 70%;
    border-radius: 25px;
    display: inline;
    float: right;
}
.player-info{
    font-size: 24px;
    color: white;
    display: block;
        padding: 15px;
}
.player-info .player-turn>img {
    max-width: 50px;
    max-height: 50px;
    display: inline;
    float: left;
        margin-left: 11px;
}
.player-info>p{
    display: inline;
        padding: 0 20px 0px 40px;
    }
.player-turn {
    width: 84px;
    height: 84px;
    margin-left: -23px;
    margin-top: -19px;
    display:inline;
    z-index: -1;
}
.green {
    background-color: lightgreen;
    border-radius: 50%;
    z-index: -1;
    display: inline-flex;
    float: left;
        width: 58px;
    height: 58px;
    margin-right: 0px;
}
.pieces {
	max-height: 40px;
	position: absolute;
	transform: none;
        margin-top: 5px;
}
.pieces:nth-child(1) {
    margin-left: 5px;

}
.pieces:nth-child(2) {
     margin-left: 10px;
    
}
.pieces:nth-child(3) {
     margin-left: 15px;
    
}
.pieces:nth-child(4) {
     margin-left: 20px;
    
}
.pieces img {
	max-height: 40px;
	transform:  unset;
}
#die {
	top: 2%;
/*    left: 980px;*/
    width: 150px;
    height: 150px;
	border-radius: 25px;
	background-color: white;
    display: inline-block;
}
img#die-img {
	margin-left: 10px;
    margin-top: 10px;
	width: 125px;
	height: 125px;
}
.row {
    height: 5.1%;
    width: 100%;
    padding-left:1.5%;
}
#row-19 {
    padding-top:1.5%;
}
#row-finish {
       margin-top: -281px;
    margin-left: 453px;
    height: 5%;
    width: 96%;
    float: left;
    display: inline;
}

.space {
    width: 5.1%;
    height: 100%;
    display: inline-block;
}
#space-0 {
    background-image: url('../images/start.png');

}
#space-74 {
    background-image: url('../images/start.png');
}
.space .start {
    display: inline-block;
    margin-top: 25px;
    color: white;
    font-size: 14px;
    font-weight: 400px;
    float: right;
}
.space .icon {
    display: inline-block;
    margin-top: 8px;
    height: 10px;
    float: right;
    margin-right: 5px;
}

.space .icon>img{
    display: inline-block;
    max-width: 35px;
    max-height: 35px;
}

#space-61 .icon>img {
    max-width: 26px;
    max-height: 26px;
}
.charDiv {
    background-color: rgba(158,4,203, 0.6);
    position: absolute;
    margin-top: -632px;
    margin-left: 45px;
    height: 600px;
    width: 600px;
    border-radius: 60px;
    display: none;
/*display: inline-block;*/

}
.characters {
    position: absolute;
/*    display: inline-block;*/
    margin-left: 0%;
    margin-top: 45%;
    display: none;
}
.characters>img {
        max-height: 300px;
        margin-left: 100%;
}
.speach-bubble {
/*    background-image: url('../images/speach-bubble.png');*/
    position: absolute;
    display: block;
    margin-top: -500px;
    margin-left: -5px;
}
.speach-bubble>img{
    width: 400px;
}
.speach-bubble>p{
    position: absolute;
    width: 261px;
    height: 86px;
    margin-top: -222px;
    margin-left: 68px;
}
.pieces {
    max-height: 40px;
    position: absolute;
    transform: none;
}
.pieces img {
    max-height: 40px;
    transform:  unset;
}
#die {
    position: relative;
    top: 2%;
/*    left: 788px;*/
    max-width: 160px;
    max-height: 160px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 100px;
}
img#die-img {
    margin-left: 8%;
    margin-top: 8%;
    max-width: 125px;
    max-height: 125px;
}
@media screen and (min-width: 600px) and (max-width: 800px) {
    #game-board {
    width: 74vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: absolute;
    position: absolute;
    }
    .space {
    width: 5%;
    height: 100%;
    display: inline-block;
    }
    #info {
    max-width: 220px;
    position: absolute;
    left: 78%;
    }
    #die {
        max-width: 120px;
        max-height: 120px;
    }
    #die>img {
        max-width: 100px;
        max-height: 100px;
    }
    .row { height: 4%; }
    #row1 { 
        margin-top: 0px;
    margin-left: 6px;
    height: 33px;
     }
    #row2 {}
    #col1 {
            margin-right: -9px;
    }
    #row-finish {
    margin-top: -272px;
    margin-left: 367px;
    }
    .player-turn {
           width: 80%;

    }
    .player-turn>img {
        width: 20px;
        margin-left: 4px;
    }
    .green {
        max-height: 30px;
        max-width: 30px;
        margin: 0px;
    }
    .player-info {
        width: 60%;
        font-size: 12px;
        padding: 10px;
    }
    .player-info>img {
        max-height: 25px;
    }
    .pieces>img {
        max-height: 20px;
    }

    .space .start {
            margin-top: 10px;
        font-size: 11px;
    }
    .charDiv {

        margin-top: -88%;
    margin-left: 10%;
    height: 80%;
    width:80%;
    }
    .characters {
          margin-left: -17%;
    margin-top: 19%;
    }
    .characters>img {
    margin-left: 104%;
    margin-top: 72%;
    /*height: 80%;*/
    max-height: 200px;
    }
    .speach-bubble {
        position: relative;
                 margin-left: 60%;
    }
    .speach-bubble>img{
    width: 300px;
    height: 200px;
    }
    .speach-bubble>p{
        position: relative;
        width: 300px;
    }
} /*end media screen*/

@media screen and (min-width: 100px) and (max-width: 599px) {
    #game-board {
    width: 60vw;
    max-width: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: absolute;
    position: absolute;
    }
    .row {
        height: 3.5%;
    }
    #die {
        max-width: 100px;
        max-height: 100px;
    }
    #die>img {
        max-width: 80px;
        max-height: 80px;
    }
    .space {
    width: 5%;
    height: 100%;
    display: inline-block;
    }
    .space .icon>img {
            max-width: 19px;
        max-height: 16px;
    }
    #space-54 .icon>img {
    max-width: 22px;
    max-height: 15px;
    }
    #info {
    max-width: 220px;
        left: 74%;
    }
    #row1 { 
    margin-top: 7px;
    margin-left: 6px;
    height: 20px;
     }
    #row2 {}
    #col1 {
            margin-right: -13px;
    }
    #row-finish {
        margin-top: -200px;
    margin-left: 242px;
    }
    .player-turn {
           width: 80%;

    }
    .player-info .player-turn>img {
        width: 20px;
        margin-left: 5px;

    }
    .green {
    max-height: 30px;
    max-width: 30px;
    margin: 0px;
    }
    .player-info {
        width: 60%;
        font-size: 10px;
        padding: 10px;
    }
    .player-info>p{
        padding:   0 10px 0px 20px;
    }
    .player-info>img {
        max-height: 26px;
    }
    .pieces>img {
        max-height: 17px;
    }

    .space .start {
    margin-top: 1px;
    font-size: 6px;
    }
        .charDiv {

    margin-top: -80%;
    margin-left: 5%;
    height: 43%;
    width: 86%;
    max-height: 500px;
    }
    .characters {
    margin-left: 28%;
    margin-top: 41%;

    }
    .characters>img {

    margin-left: 14%;
    margin-top: 0%;
    height: 30%;
    max-width: 100px;
    max-height: 100px;
    }
    .speach-bubble {
        position: relative;
            margin-top: -125%;
    }
    .speach-bubble>img{
    width: 200px;
    height: 150px;
    }
    .speach-bubble>p{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 10%;
    }
} /*end media screen*/
