body {
/*	background-image: url('../images/peppermint.jpg');
	margin: 0 auto;
	background-size: cover;
	background-repeat: repeat;*/
	background-color: red;
}
.container{
	border-radius: 25px;
	padding: 50px;
	background-color: red;
	margin: 0 auto;
	z-index: 2;
		margin-top: 100px;
    width: 60vw;
}
header {
	margin-top: 10%;
	width: 60vw;
    margin: 0 auto;
}
header>img{
	width: 80%;
    margin: 0 auto;
}

h1 {
	text-align: center;
	color: white;
}

#submit-button {
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500px;
    color: white;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;

    background: #fc8183; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fc8183, #cb0101); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fc8183, #cb0101); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fc8183, #cb0101); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fc8183, #cb0101); /* Standard syntax */
}

#background {
	width: 100vw;
	height: 100vh;
	z-index: -1;
	display: inline-flex;
	overflow: hidden;
	margin-top: -635px;
}

#line1 {
    height: 1000px;
    width: 300px;
    transform: rotate(38deg);
	background-color: white;
	border: 3px solid red;
    margin-left: -90px;
    margin-top: -200px;
    	z-index: -1;

}
#line2{
	border: 6px solid red;
	    height: 1000px;
    width: 10px;
    transform: rotate(38deg);
    background-color: red;
    margin-left: -170px;
    margin-top: -200px;
}

#line3{
	border: 6px solid red;
	    height: 1000px;
    width: 10px;
    transform: rotate(38deg);
    background-color: red;
    margin-left: 38px;
    margin-top: -200px;
}
#line4{
	border: 6px solid red;
	    height: 1000px;
    width: 10px;
    transform: rotate(38deg);
    background-color: red;
      margin-left: -142px;
    margin-top: -200px;
}



#line5 {
    height: 1400px;
    width: 300px;
    transform: rotate(38deg);
	background-color: white;
	border: 3px solid red;
    margin-left: 450px;
    margin-top: -250px;
    	z-index: -1;

}
#line6{
	border: 6px solid red;
	    height: 1200px;
    width: 10px;
    transform: rotate(38deg);
    background-color: red;
    margin-left: -174px;
    margin-top: -150px;
}

#line7{
	border: 6px solid red;
	    height: 1200px;
    width: 10px;
    transform: rotate(38deg);
    background-color: red;
    margin-left: 38px;
    margin-top: -150px;
}
#line8{
	border: 6px solid red;
	    height: 1200px;
    width: 10px;
    transform: rotate(38deg);
    background-color: red;
      margin-left: -142px;
    margin-top: -150px;
}



#line9 {
    height: 1200px;
    width: 300px;
    transform: rotate(38deg);
	background-color: white;
	border: 3px solid red;
    margin-left: 500px;
    margin-top: 0px;
    	z-index: -1;

}
#line10{
	border: 6px solid red;
	    height: 1000px;
    width: 10px;
    transform: rotate(38deg);
    background-color: red;
    margin-left: -110px;
    margin-top: 100px;
}

#line11{
	border: 6px solid red;
	    height: 1000px;
    width: 10px;
    transform: rotate(38deg);
    background-color: red;
    margin-left: -77px;
    margin-top: 100px;
}
#line12{
	border: 6px solid red;
	    height: 1000px;
    width: 10px;
    transform: rotate(38deg);
    background-color: red;
    margin-left: -84px;
    margin-top: 100px;
}
