body {
	background-color: #663366;
	margin: 0 auto;
	
}
.container {
    margin-left: 0px;
    width: 100vw;
}
#container {
    width: 100vw;
}
#game-board {
    width: 82vw;
    max-width: 768px;
    height: 100vh;
    max-height: 768px;
	background-image: url('../images/game_board2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: fixed;
    display: inline-block;
}
#info {
     width: 40vw;
    max-width: 281px;
    height: 100vh;
    left: 70%;
    border-radius: 25px;
    display: inline;
    float: right;
}
.player-info{
    font-size: 24px;
    color: white;
    display: block;
        padding: 15px;
}
.player-info .player-turn>img {
    max-width: 50px;
    max-height: 50px;
    display: inline;
    float: left;
        margin-left: 11px;
}
.player-info>p{
    display: inline;
        padding: 0 20px 0px 40px;
    }
.player-turn {
    width: 84px;
    height: 84px;
    margin-left: -23px;
    margin-top: -19px;
    display:inline;
    z-index: -1;
}
.green {
    background-color: lightgreen;
    border-radius: 50%;
    z-index: -1;
    display: inline-flex;
    float: left;
        width: 58px;
    height: 58px;
    margin-right: 0px;
}
.pieces {
	max-height: 40px;
	position: absolute;
	transform: none;
        margin-top: 5px;
}
.pieces:nth-child(1) {
    margin-left: 5px;

}
.pieces:nth-child(2) {
     margin-left: 10px;
    
}
.pieces:nth-child(3) {
     margin-left: 15px;
    
}
.pieces:nth-child(4) {
     margin-left: 20px;
    
}
.pieces img {
	max-height: 40px;
	transform:  unset;
}
#die {
	top: 2%;
/*    left: 980px;*/
    width: 150px;
    height: 150px;
	border-radius: 25px;
	background-color: white;
    display: inline-block;
}
img#die-img {
	margin-left: 10px;
    margin-top: 10px;
	width: 125px;
	height: 125px;
}
.row {
    height: 5.1%;
    width: 100%;
    padding-left:2%;
}
#row-19 {
    padding-top:2%;
}
#row-finish {
       margin-top: -281px;
    margin-left: 453px;
    height: 5%;
    width: 96%;
    float: left;
    display: inline;
}

.space {
    width: 5.1%;
    height: 100%;
    display: inline-block;
}
#space-0 {
    background-image: url('../images/start.png');

}
#space-74 {
    background-image: url('../images/start.png');
}
.space .start {
    display: inline-block;
    margin-top: 25px;
    color: white;
    font-size: 14px;
    font-weight: 400px;
    float: right;
}
.space .icon {
    display: inline-block;
    margin-top: 8px;
    height: 10px;
    float: right;
    margin-right: 5px;
}

.space .icon>img{
    display: inline-block;
    max-width: 35px;
    max-height: 35px;
}

#space-54 .icon>img {
    max-width: 26px;
    max-height: 26px;
}
.charDiv {
    background-color: rgba(158,4,203, 0.6);
    position: absolute;
    margin-top: -697px;
    margin-left: 83px;
    height: 600px;
    width: 600px;
    border-radius: 60px;
    display: none;

}
.characters {
    position: absolute;
/*    display: inline-block;*/
    margin-left: 330px;
    margin-top: 254px;
    display: none;
}
.characters>img {
        max-height: 300px;
        margin-left: -100px;
}
.speach-bubble {
/*    background-image: url('../images/speach-bubble.png');*/
    position: absolute;
    display: block;
    margin-top: -500px;
    margin-left: -348px;
}
.speach-bubble>img{
    width: 400px;
}
.speach-bubble>p{
    position: absolute;
    width: 261px;
    height: 86px;
    margin-top: -222px;
    margin-left: 68px;
}
.pieces {
    max-height: 40px;
    position: absolute;
    transform: none;
}
.pieces img {
    max-height: 40px;
    transform:  unset;
}
#die {
    position: relative;
    top: 2%;
/*    left: 788px;*/
    max-width: 150px;
    max-height: 150px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 100px;
}
img#die-img {
    margin-left: 2%;
    margin-top: 2%;
    max-width: 125px;
    max-height: 125px;
}
@media screen and (min-width: 600px) and (max-width: 800px) {
    #game-board {
    width: 600px;
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: absolute;
    position: absolute;
    }
    .space {
    width: 33px;
    height: 33px;
    display: inline-block;
    }
    #info {
    max-width: 220px;
    position: absolute;
    left: 78%;
    }
    .row {  }
    #row1 { 
        margin-top: 0px;
    margin-left: 6px;
    height: 33px;
     }
    #row2 {}
    #col1 {
            margin-right: -9px;
    }
    #row-finish {
    margin-top: -272px;
    margin-left: 367px;
    }
    .player-turn {
           width: 49px;
    height: 50px;
    margin-left: -13px;
    margin-top: -10px;
    }
    .player-info {
        width: 200px;
        font-size: 18px;
        padding: 10px;
    }
    .player-info>img {
        max-height: 32px;
    }
    .pieces>img {
        max-height: 25px;
    }
    .space .start {
            margin-top: 10px;
        font-size: 11px;
    }
} /*end media screen*/

@media screen and (min-width: 100px) and (max-width: 599px) {
    #game-board {
    width: 400px;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: absolute;
    position: absolute;
    }
    #die {
            margin-bottom: 52px;
    }
    .space {
    width: 21.5px;
    height: 21.5px;
    display: inline-block;
    }
    .space .icon>img {
            max-width: 19px;
        max-height: 16px;
    }
    #space-54 .icon>img {
    max-width: 22px;
    max-height: 15px;
    }
    #info {
    max-width: 220px;
        left: 74%;
    }
    .row {  
    height: 352px;
    line-height: 22px;
    }
    #row1 { 
    margin-top: 7px;
    margin-left: 6px;
    height: 20px;
     }
    #row2 {}
    #col1 {
            margin-right: -13px;
    }
    #row-finish {
        margin-top: -200px;
    margin-left: 242px;
    }
    .player-turn {
           width: 49px;
    height: 50px;
    margin-left: -13px;
    margin-top: -10px;
    }
    .player-info {
        width: 200px;
        font-size: 18px;
        padding: 10px;
    }
    .player-info>p{
        padding:   0 10px 0px 20px;
    }
    .player-info>img {
        max-height: 26px;
    }
    .pieces>img {
        max-height: 17px;
    }
    .space .start {
    margin-top: 1px;
    font-size: 6px;
    }
} /*end media screen*/
