body {
	background-color: #663366;
	margin: 0 auto;
	
}
#game-board {
	width: 1400px;
	height: 1052px;
	background-image: url('./images/game_board.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: absolute;
	position: absolute;
}
.pieces {
	max-height: 50px;
	position: absolute;
	transform: none;
}
.pieces img {
	max-height: 50px;
	transform:  unset;
}
#die {
	position: absolute;
	top: 20px;
	left: 1440px;
	width: 300px;
	height: 300px;
	border-radius: 25px;
	background-color: white;
}
img#die-img {
	margin-left: 10px;
    margin-top: 10px;
	width: 280px;
	height: 280px;
}
.space {
	position: absolute;
/*	width: 50px;
    height: 50px;
    display: inline-block;*/
}
.color {
	width: 40px;
	height: 48px;
	position: absolute;
}

.space#space-0 {
	width: 50px;
    height: 50px;
    top: 920px;
    left: 300px;

}
.space#space-1 {
	width: 50px;
    height: 50px;
    top: 920px;
    left: 350px;

}
.space#space-1 .color{
	background-color: red;
	transform: rotate(0.2turn) rotateX(10deg) rotateY(35deg);
}
.space#space-2 {
    top: 905px;
    left: 395px;
  
}
.space#space-2 .color {
		background-color: purple;
		 transform: rotate(0.15turn) rotateX(10deg) rotateY(0deg); 

}
.space#space-3 {
    top: 878px;
    left: 426px;
}
.space#space-3 .color{
		background-color: yellow;
		 transform: rotate(0.1turn) rotateX(30deg) rotateY(0deg);
		}
.space#space-4 {
    top: 845px;
    left: 455px;
  
}
.space#space-4 .color{
	background-color: cyan;
	transform: rotate(0.1turn) rotateX(10deg) rotateY(20deg);
	}
.space#space-5 {
    top: 815px;
    left: 485px;
}
.space#space-5 .color{
	background-color: orange;
	transform: rotate(0.15turn) rotateX(10deg) rotateY(20deg);
}
.space#space-6 {
    top: 788px;
    left: 525px;
}
.space#space-6 .color{
	background-color: #33cc00;
	 transform: rotate(0.2turn) rotateX(0deg) rotateY(0deg);
 }
.space#space-7 {
    top: 781px;
    left: 580px;

}
.space#space-7 .color{
	background-color: red;
	transform: rotate(0.25turn) rotateX(0deg) rotateY(0deg);
	}
.space#space-8 {
    top: 790px;
    left: 628px; 
}

.space#space-8 .color{
	background-color: purple;
	transform: rotate(0.3turn) rotateX(0deg) rotateY(0deg);

}
.space#space-9 {
	 background-color: lightpink;
    top: 812px;
    left: 674px;

}
.space#space-9 .color{
	 background-color: lightpink;
	 transform: rotate(0.35turn) rotateX(0deg) rotateY(0deg);
	}
.space#space-10 {
    top: 850px;
    left: 710px;
}
.space#space-10 .color{
	 background-color: yellow;
 transform: rotate(0.38turn) rotateX(0deg) rotateY(0deg);
	}
.space#space-11 {
    top: 886px;
    left: 748px;
}
.space#space-11 .color{
	background-color: cyan;
	transform: rotate(0.38turn) rotateX(0deg) rotateY(0deg);
}

.space#space-12 {
    top: 918px;
    left: 790px;
}
.space#space-12 .color{
	background-color: orange;
	transform: rotate(0.34turn) rotateX(0deg) rotateY(0deg);
}
.space#space-13 {
    top: 938px;
    left: 838px;
}
.space#space-13 .color{
	background-color: green;
	transform: rotate(0.3turn) rotateX(0deg) rotateY(25deg);
}

.space#space-14 {
    top: 946px;
    left: 889px;
}
.space#space-14 .color{
	background-color: red;
	transform: rotate(0.26turn) rotateX(0deg) rotateY(20deg);
}

.space#space-15 {
    top: 946px;
    left: 940px;
}
.space#space-15 .color{
	background-color: purple;
	transform: rotate(0.235turn) rotateX(0deg) rotateY(5deg);
}
.space#space-16 {
    top: 940px;
    left: 992px;
}
.space#space-16 .color{
	background-color: yellow;
    transform: rotate(0.2turn) rotateX(0deg) rotateY(5deg);
}
.space#space-17 {
    top: 916px;
    left: 1040px;
}
.space#space-17 .color{
	background-color: cyan;
	transform: rotate(0.15turn) rotateX(0deg) rotateY(5deg);
}
.space#space-18 {
    top: 872px;
    left: 1056px;
}
.space#space-18 .color{
	background-color: lightpink;
	transform: rotate(0turn) rotateX(0deg) rotateY(5deg)
}
/*}
*/




/**/
/*----------------------------------------------------------------------------------------------
*/
.space#space-59 {
    top: 680px;
    left: 402px;

}
.space#space-59 .color {
	background-color: purple;
	transform: rotate(0.69turn) rotateX(0deg) rotateY(0deg);
}
.space#space-60 {

}.space#space-61 {

}.space#space-62 {

}.space#space-63 {

}.space#space-64 {

}.space#space-65 {

}.space#space-66 {

}.space#space-67 {

}.space#space-68 {

}.space#space-69 {

}.space#space-70 {

}.space#space-71 {

}.space#space-72 {

}.space#space-73 {

}.space#space-74 {

}.space#space-75 {

}.space#space-76 {

}.space#space-77 {

}.space#space-78 {

}.space#space-79 {

}.space#space-80 {

}.space#space-81 {

}.space#space-82 {

}.space#space-83 {

}.space#space-84 {

}.space#space-85 {

}.space#space-86 {

}.space#space-87 {

}.space#space-88 {

}.space#space-89 {

}.space#space-90 {

}.space#space-91 {

}.space#space-92 {

}.space#space-93 {

}.space#space-94 {

}.space#space-95 {

}.space#space-96 {

}.space#space-97 {

}

/*----------------------------------------------------------------------------------------------
/*.space#space-124 {

}
.space#space-125 {

}
.space#space-126 {

}
.space#space-127 {

}
.space#space-128 {

}
.space#space-129 {

}
.space#space-130 {

}
.space#space-131 {

}
.space#space-132 {


}
.space#space-133 {


}
.space#space-134 {

}